In [7]:
arr = [['G', 'O', 'F', 'F', 'A', 'K', 'W', 'F', 'S', 'M'], ['O', 'Y', 'E', 'C', 'R', 'S', 'L', 'D', 'L', 'Q'], ['U', 'J', 'A', 'J', 'Q', 'V', 'S', 'Y', 'Y', 'C'], ['J', 'A', 'E', 'Z', 'N', 'N', 'Z', 'E', 'A', 'J'], ['W', 'J', 'A', 'K', 'C', 'G', 'S', 'G', 'C', 'F'], ['Q', 'K', 'U', 'D', 'G', 'A', 'T', 'D', 'Q', 'L'], ['O', 'K', 'G', 'P', 'F', 'P', 'Y', 'R', 'K', 'Q'], ['T', 'D', 'C', 'X', 'B', 'M', 'Q', 'T', 'I', 'O'], ['U', 'N', 'A', 'D', 'R', 'P', 'N', 'E', 'T', 'Z'], ['Z', 'A', 'T', 'W', 'D', 'E', 'K', 'D', 'Q', 'F']]

print(arr[0][0], arr[0][-0-1])
su = ''
for i in range(3):
    su+=arr[0][0]
    
print(su)

G M
GGG

In [5]:
su = ''

for i in range(3):
    su+='g'
    
print(su)

ggg

In [8]:
arr = ['G', 'O', 'F', 'F', 'A', 'K', 'W', 'F', 'S', 'M']
print(len(arr))

10

In [19]:
num = input()
if num == '8 7 6 5 4 3 2 1' :
    print('descending')
elif num == '1 2 3 4 5 6 7 8':
    print('ascending')
else:
    print('mixed')

8 1 7 2 6 3 5 4
mixed

In [1]:
120//10

12

In [1]:
n, p = map(int, input().split())

print(n//p)
print(n%p)

1000 100
10
0

In [12]:
li = [5, 3, '*', '.']

li[2] = li[0]*li[1]
# del li[0]
# del li[1]
print(li)

[5, 3, 15, '.']

In [31]:
while True:
    try:
    n, s = map(int, input().split())
    print(s//(n+1))
    except:
        break

IndentationError: expected an indented block (2821775144.py, line 3)

In [34]:
a = 123454789

li = list(str(a))

print(li)

['1', '2', '3', '4', '5', '4', '7', '8', '9']